@page
@model PruebaTecnicaNet.Web.Pages.GenerateOrderModel
@{
    ViewData["Title"] = "Orden de Compra";
}

<form method="post">
    
    <input type="submit" class="btn btn-primary" value="Generar Compra" />
</form>
